#home-loader {
    --background: #62abff;
    --front-color: var(--main-color);
    --back-color: #c3c8de;
    --text-color: #414856;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}

#home-loader svg circle.back {
    stroke: var(--back-color);
}

#home-loader svg circle.front {
    stroke: var(--front-color);
}

#home-loader svg.circle-outer {
    height: 100px;
    width: 100px;
}

#home-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
}

#home-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
}

#home-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
}

#home-loader svg.circle-middle {
    height: 75px;
    width: 75px;
}

#home-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
}

#home-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#home-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#home-loader svg.circle-inner {
    height: 50px;
    width: 50px;
}

#home-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
}

#home-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
}

#home-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
}

#home-loader .text {
    position: absolute;
    bottom: -55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#home-loader .text::before,
#home-loader .text::after {
    content: attr(data-text);
}

#home-loader .text::before {
    color: var(--text-color);
}

#home-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
}

@keyframes circle-outer135 {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-middle6123 {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-inner162 {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes text-animation76 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}